@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
body{
  background-color: rgba(29, 30, 31, 0.8);
color:white;
  font-family: 'Titillium Web', sans-serif;

}
.leftSide{
  border-radius: 10px;
  background-color: rgba(29, 30, 31, 0.8);
  padding: 1em;
  padding-bottom: 1em;
  font-size: larger;
}
 .leftSide h2{
  color: #008EFD;
}
.rightSide{
  border-radius: 10px;
  background-color: rgba(29, 30, 31, 0.8);
  padding: 1em;
}
.rightSide h2{
  color: #008EFD;
}
.middle{
  padding: 1em;
  position: relative;

}
@media only screen and (min-width: 1000px){
  .bookimage{
    width:400px;
    position: absolute;
    top: -7em;
    left:-1.5em;

  }
}

.pagecontent{
  margin-top: 1em;
  position: relative;
  width: 100%;
}
.App {
  text-align: center;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.landing-header{
  color:white;
  font-size: 45px;
  font-weight:bold;
  text-align: center;
}
.bar2{
  background-color: rgba(29, 30, 31, 0.72);
  padding: 1em;
  color: #ffffff;
}
.getitbtn{
  background-color: #B4FF00;
}
.center{
  text-align: center;
}
.firstbar{
  margin:3em;
}

.bar3{
padding: 2em;
  background-color: #ffffff;
  color: #1d1e1f;

}
.bar4{
  color: #008EFD;
  padding:3em;
  background-color: rgba(29, 30, 31, 0.8);
}
.round{
  float: left;
  border-radius: 50%;
}

alignleft {
  /* float: left; */
  margin: 0 1em 1em 0;
}
.wrapText {
  shape-outside: circle();
}