@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
body{
  background: url("./images/bg.png");
  font-family: 'Titillium Web', sans-serif;

}
.leftSide{
  border-radius: 10px;
  background-color: rgba(29, 30, 31, 0.8);
  padding: 1em;
  padding-bottom: 1em;
  font-size: larger;
}
 .leftSide h2{
  color: #11DACF;
}
.rightSide{
  border-radius: 10px;
  background-color: rgba(29, 30, 31, 0.8);
  padding: 1em;
  padding-top: 1em;
}
.rightSide h2{
  color: #11DACF;
}
.middle{
  padding: 1em;
}
.pagecontent{
  margin-top: 5em;
  position: relative;
  width: 100%;
}
.App {
  text-align: center;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.landing-header{
  color:blue;
  font-size: 45px;
  font-weight:bold;
  text-align: center;
}
.bar2{
  background-color: rgba(29, 30, 31, 0.72);
  padding: 1em;
  color: #ffffff;
}
.getitbtn{
  background-color: #B4FF00;
}
.center{
  text-align: center;
}


